{% extends 'base.html.twig' %}

{% block title 'Movie: ' ~ movie.title|title %}

{% block body %}
<main>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                {% if movie.isRemotePoster is same as true %}
                <img src="{{ movie.poster }}" width="700" height="500" class="d-block mx-lg-auto img-fluid" />
                {% else %}
                <img src="{{ asset("build/images/movies#{movie.poster}") }}" width="700" height="500" class="d-block mx-lg-auto img-fluid" />
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">{{ movie.title|title }}</h1>
                <small>({{ movie.releasedAt|format_date('full') }})</small>
                <p class="lead">
                    <ul>
                        <li>
                            Genres: {{ movie.genres|join(', ') }}
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
