<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">Movies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    {% if current_movie_slug is null %}
                        <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_home') }}">Home</a>
                    {% endif %}
                </li>
                {% for movie in movies %}
                    <li class="nav-item">
                        {% if movie.slug is same as current_movie_slug %}
                            <a class="nav-link active" aria-current="page" href="{{ path('movie_details', {'slug': movie.slug}) }}">{{ movie.title|title }}</a>
                        {% else %}
                            <a class="nav-link" href="{{ path('movie_details', {'slug': movie.slug}) }}">{{ movie.title|title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <div class="d-flex">
                {% if app.user %}
                <span>{{ app.user.userIdentifier }}</span>
                <a class="btn btn-outline-success" href="{{ path('app_logout') }}">Logout</a>
                {% endif %}
                <a class="btn btn-outline-success" href="{{ path('app_login') }}">Login</a>
            </div>
        </div>
    </div>
</nav>
